* { box-sizing: border-box }

body {
  margin: 0;
  padding: 0;
  width: calc(100vw - 2px);
  height: 100vh;
  color: #666;
}

a, .anchor { color: #03A9F4; text-decoration: none; }
a:hover, .anchor:hover { color: #69DEFF; cursor: pointer; }

#main-container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

#signin-containner,
#signup-containner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  max-width: 400px;
  padding: 40px 20px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 20%)
}

#signin-description,
#signup-description { margin: 20px auto; text-align: center; }

.inputbox {
  position: relative;
  margin-top: 10px;
  transition: 0.5s;
}

.inputbox input {
  display: flex;
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  line-height: 24px;
  color: #888;
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #c0c0c0;
  background: rgba(255, 255, 255, 0.8);
  outline: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #f00;
  pointer-events: none;
  transition: 0.5s;
}

.inputbox input:focus:invalid {
  margin-left: 110px;
  width: calc(100% - 110px);
  background: #fff;
  border: 1px solid #f00;
  border-left: 5px solid #f00;
  border-right: 5px solid #f00;
}

.inputbox input:focus:invalid~label {
  top: 0;
  left: 0;
  width: 100px;
  transform: translate(0, 0);
  color: #fff;
  background: #f00;
  border: 1px solid #f00;
}

.inputbox input:valid,
.inputbox input:focus:valid {
  margin-left: 110px;
  width: calc(100% - 110px);
  border: 1px solid #03A9F4;
  border-left: 5px solid #03A9F4;
  border-right: 5px solid #03A9F4;
}

.inputbox input:valid~label,
.inputbox input:focus:valid~label {
  top: 0;
  left: 0;
  width: 100px;
  transform: translate(0, 0);
  line-height: 24px;
  color: #fff;
  background: #03A9F4;
  border: 1px solid #03A9F4;
}

.btn {
  width: 80px;
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
}

.btn.form {
  position: relative;
  top: 30px;
  left: 50%;
  min-height: 45px;
}

.btn.ok { background: #00C300; }
.btn.cancel { background: #03A9F4; }
.btn.form.one-one { margin: 40px 0 10px 0; transform: translate(-50%, -50%); }
.btn.form.two-one { transform: translate(calc(-50% - 50px), 0); }
.btn.form.two-two { transform: translate(calc(-50% - 30px), 0); }

#resmsg {
  margin-top: 40px;
  width: 100%;
  height: 40%;
  color: #666;
}

#resmsg.sending { color: #666; }
#resmsg.success { color: #63c9Ff; }
#resmsg.error { color: #f00; }

#main-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

#main-head #main-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#main-head #main-nav li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 10px 20px;
  background-color: #fff;
  color: #03A9F4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 20%);
  user-select: none;
}

#main-head #main-nav li:hover { color: #69DEFF; cursor: pointer; }

#preview-upload-images {
  text-align: center;
  margin-top: 10px;
}

.preview-upload-images {
  display: inline-block;
  position: relative;
  width: 140px;
  height: 140px;
  margin: 5px 10px;
  border: 3px solid #03A9F4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.delete-upload-image {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 2px;
  right: 2px;
  color: #fff;
  line-height: 20px;
  background-color: #f00;
  border-radius: 5px;
  text-align: center;
}

#imageholder {
  width: 100%;
  height: 60px;
  margin: 10px auto;
  border: 1px dashed #03A9F4;
  background-image: url("../assets/addnew.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

#imageholder.ondragover {
  border: 10px dashed #63c9Ff;
}

#imageholder.ondrop {
  border: 1px dashed #03A9F4;
}

#imageholder.ondragend {
  border: 1px dashed #f00;
}

#imageholder.ondragleave {
  border: 1px dashed #03A9F4;
}

#selectfile {
  opacity: 0;
  width: 100%;
  height: 100%;
}

#resmsg {
  margin-top: 40px;
  width: 100%;
  height: 40%;
  color: #666;
}

#resmsg.sending { color: #666; }
#resmsg.success { color: #63c9Ff; }
#resmsg.error { color: #f00; }

#main-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

#main-preview .imcontainer {
  width: 160px;
  height: 300px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 20%);
  overflow: hidden;
  transition: color 1000ms ease-in-out 50ms,
    background-color 1000ms ease-in-out 50ms,
    width 1000ms ease-in-out 50ms,
    height 1000ms ease-in-out 50ms;
}

#main-preview .imcontainer.remove {
  width: 0;
  height: 0;
  color: #fff;
  background-color: #fff;
  overflow: hidden;
  transition: color 1000ms ease-in-out 50ms,
    background-color 1000ms ease-in-out 50ms,
    width 1000ms ease-in-out 50ms,
    height 1000ms ease-in-out 50ms;
}

#main-preview .imbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
}

#main-preview .im {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 10px 0 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#main-preview .imdetail {
  width: 160px;
  height: calc(100% - 160px);
  padding: 20px 5px;
  text-align: center;
}

#main-preview .imname,
#main-preview .imddesc {
  background-color: #ddd;
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #c0c0c0;
  border-radius: 10px;
  line-height: 32px;
}
